<nav class="window">
  <div class="title-bar">
    <h1 class="title">Gotta catch 'em all!</h1>
  </div>

  <div id="idk" *ngIf="trainer !== undefined">
    <div id="link-container">
      <div>
        <a id="trainer-link" class="link" routerLink="/trainer">Trainer</a>
      </div>
      <div>
        <a id="catalogue-link" class="link" routerLink="/catalogue"
          >Catalogue</a
        >
      </div>
    </div>

    <div id="user-container">
      <h2 id="user-txt">{{ trainer.username }}</h2>
      <button class="btn" (click)="logout()" title="Log out">
        <span class="material-icons" id="logout-icon"> Log out </span>
      </button>
    </div>
  </div>
</nav>
