/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#c5dcb6
}

.btn {
    background-color: #ffe3b6;
}